header{
    background-color: $main_blue_color;
    position: fixed;
    width: 100%;
    .navigation{
        @include displayElementFlex(center);
        @include container(90%, 5%);
        .logo{
            color: $global;
            @include textStyle(25px,600px);
        }
        nav{
            ul{
                margin: 0px 0px 0px 30px;
                @include displayElementFlex(center);
                li{
                    margin: 0px 0px 0px 30px;
                    a{
                        color:$global;
                        @include textStyle(20px,600px);
                    }
                }
            }
        }
    }
}